<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск продукта</title>
    <style type="text/css">
      h2 { font-size  : 14pt;
           color      : black
      }
      label { font-size  : 14pt;
              color      : green
      }
    </style>
    <link  rel="stylesheet" href = "/static/main.css">
</head>
<body>
  <h2 align="center"> Введите название продукта</h2>
    <div align = center>
        <form  action="", method ="POST">
            <select name=product_name placeholder = product_name id= "product">
                <option value="Соль">Соль</option>

                <option value="Сок">Сок</option>

                <option value="Кофе">Кофе</option>

            </select>
            <br><br>
            <input type = submit value ="Отправить">
        </form>
    </div>

</body>
</html>